doctype html

html
    head
        title test page
        meta(charset='utf-8')
    body
        h1 This is a title
        div This is a div with content
        p Welcome to a new paragraph element
        span hello world
